*{margin: 0 ;
padding: 0}
a{
    text-decoration: none;
}
body{
    font-size: 10px;
}
.sprites2x{
    background: url("../img/sprites2x.png") center;
    background-size: 100px;
}
footer{
    position: fixed;
    background-color: black;
    width: 100%;
    bottom: 0rem;
}
i{
    color: #8c8c8c;
    font-weight: 700;
}
i:hover{
    color: white;
}
footer>section>div{
   display: inline-block;
    width: 18%;
    text-align: center;
    margin:.5rem 0;
}
.icon-add{
    color: white;
}
.addbutton{
    background-color: rgba(0, 170, 200, 0.8);
    width: 40%;
    display: inline-block;
}
/*基本页面的样式*/
    .icon-service{
        float: right;
    }
    .basic{
        background: url("../img/course_banner.jpg");
    }
    .basic>nav{
        margin:0 5%;
        padding-top: 5%;
    }
    .basic-userinfo{
        text-align: center;
    }
    .userimg{
        display: inline-block;
        background: url("../img/1.jpg") center;
        background-size: 5rem;
        width: 5rem;
        height: 5rem;
        border-radius: 3rem;
        margin-top: 3rem;
    }
    .basic-userinfo>p:nth-child(2){
        font-size: 1.4rem;
        color: white;
    }
    .basic-userinfo:last-child{
        color: white;
    }
    .basic-userinfo>article{
        margin-top: 2rem;
        padding-bottom: 2rem;
    }
    .basic-userinfo>article>div{
        display: inline-block;
        background-color: #0c0c0c;
        opacity: 0.7;
        width: 3rem;
        height: 1.5rem;
    }
.basic-userinfo a{
    display: inline-block;
    color: white;
    text-decoration: underline;
    margin: .3rem 0;
}
.basic-container{
    margin: 2rem 10%;
}
/*.containerhead{*/
    /*margin: 0 10%;*/
/*}*/
.containerhead>span:first-child{
    font-weight: 500;
    display: inline-block;
}
.containerhead>span:last-child{
    color: #8c8c8c;
    display: inline-block;
    float: right;
}
.containerbody{
    /*margin-top: 1rem;*/
    /*margin: 1rem 10%;*/
    margin: 1rem -1.5rem 0 -1rem;
}
.containerbody>div{
    display: inline-block;
    text-align: center;
    width: 32%;
    margin-top: 1rem;
}
.containerbody-img{
    background: url("../img/p1.png");
    background-size: contain;
    display: inline-block;
    text-align: center;
    width: 5rem;
    height: 5rem;

}
.containerbody p{
    text-align: center;
    margin: .5rem 0;
}

/*关注页面的css*/
.focusheader{
    background-color: #0c0c0c;

    color: white;
}
.focusheader>section{
    padding: 5% 0 3% 0;
    margin: 0 2.5%;
    width: 95%;
}
.focusheader>section>div{
    display: inline-block;
    text-align: center;
    width: 85%;
}
.focusheader>section>div>span{
    /*text-align: center;*/
    display: inline-block;
    margin:0 1rem;
    color: #8c8c8c;
}
/*添加页面的样式*/
/*消息页面的样式*/
/*发现页面的样式*/