<header class="commonheader">
    <section>
        <span class="iconfont icon-back" ui-sref="basic"></span>
        <div>
            <span class="addheader">收藏</span>
            <!--<span ui-sref="focus/focusactive">动态</span>-->
        </div>
        <!--<span class="iconfont icon-search"></span>-->
    </section>
</header>
<section class="commonbody collectbody">
    <article class="collectmain">
        <div><em>我的... </em><b>> </b></div>
        <div class="collectgood">
            <span>赞过</span>
            <div>赞过的进展 <b>> </b></div>
            <div>赞过的记本 <b>> </b></div>
        </div>
        <div class="collectfocus">
           <span>关注</span>
            <div>关注的记本 <b>> </b></div>
        </div>
    </article>
</section>