<header class="commonheader">
    <section>
        <span class="iconfont icon-back" ui-sref="basic"></span>
        <div>
            <span class="addheader">设置</span>
        </div>
        <!--<span class="iconfont icon-success"></span>-->
    </section>
</header>
<section class="commonbody">
    <article class="settingheader">
        <img src="img/1.jpg" alt="">
        <div>
            <button>设置封面</button>
            <button>设置头像</button>
        </div>
    </article>
    <article class="settingbody">
        <div><span>编辑个人资料</span> <span> ></span></div>
        <div><span>账号和绑定设置</span><span> ></span></div>
    </article>
    <article class="settingbody">
        <div>
            <span>日更模式</span>
            <input type="checkbox" class="al-toggle-button">
            <!--<div name="" class="open1" ng-click="open()">-->
                <!--<div id="daily2" class="open2"></div>-->
            <!--</div>-->
        </div>
    </article>
    <article class="settingbody">
        <div><span>移动网络不下载...</span>
            <input type="checkbox" class="al-toggle-button">
        </div>
        <div><span>保存进展卡片</span>
            <input type="checkbox" class="al-toggle-button">
        </div>
        <div><span>每日更新提醒</span>
            <input type="checkbox" class="al-toggle-button">
        </div>
        <div><span>只能通过昵称找到我</span>
            <input type="checkbox" class="al-toggle-button">
        </div>
        <div><span>应用密码</span>
            <input type="checkbox" class="al-toggle-button">
        </div>
        <div><span>清除缓存</span> <span> ></span></div>
    </article>
    <article class="settingbody">
        <div><span>念是什么</span> <span> ></span></div>
        <div><span>我想给五星</span> <span> ></span></div>
    </article>
    <article class="settingbody">
        <div>
            <b><span>再见</span></b>
        </div>
    </article>
    <article class="settingfooter">
        <div>念</div>
        <br>
        <div>5.0.3</div>
    </article>
</section>