<header class="commonheader">
    <section>
        <span class="iconfont icon-back" ui-sref="basic"></span>
        <div class="moneyhead">
            <span class="addheader">念币</span>
        </div>
        <!--<span class="iconfont icon-success"></span>-->
        <span class="">奖励提现</span>
    </section>
</header>
<section class="commonbody">
    <article class="moneyheader">
        <img src="img/money.jpg" alt="">
        <p>剩余念币</p>
        <p>{{allofmoney}}</p>
        <!--<p>{{firstmoney}}</p>-->
        <button>充值</button>
    </article>
    <article>
        <div class="moneycontent">
            <span class="iconfont icon-information"></span>
            <div class="moneyfunc">
                <span>会员</span>
                <span> ></span><br>
                <span>骄傲的成为念的会员</span>
            </div>
        </div>
        <div class="moneycontent">
            <span class="iconfont icon-information"></span>
            <div class="moneyfunc">
                <span>会员</span>
                <span> ></span><br>
                <span>骄傲的成为念的会员</span>
            </div>
        </div>
        <div class="moneycontent">
            <span class="iconfont icon-information"></span>
            <div class="moneyfunc">
                <span>会员</span>
                <span> ></span><br>
                <span>骄傲的成为念的会员</span>
            </div>
        </div>
    </article>
</section>