<header class="commonheader">
    <section>
        <span class="iconfont icon-back"></span>
        <div>
            <span class="addheader">新进展！</span>
        </div>
        <span class="iconfont icon-success"></span>
    </section>
</header>
<section class="commonbody">
    <div class="addinput">
       <!--卧槽： <input type="text" list="typelist">-->
        <!--<datalist id="typelist">-->
            <!--<option>日常</option>-->
            <!--<option>相册</option>-->
            <!--<option>习惯</option>-->
            <!--<option>自拍</option>-->
            <!--<option>打卡</option>-->
            <!--<option>树洞</option>-->
        <!--</datalist>-->
        <select class="addselect" id="">
            <option>日常</option>
            <option selected>相册</option>
            <option>习惯</option>
            <option>自拍</option>
            <option>打卡</option>
            <option>树洞</option>
        </select>
    </div>
</section>