<header class="focusheader">
    <section>
        <span class="iconfont icon-account"></span>
        <div>
            <span>关注</span>
            <span>动态</span>
        </div>
        <span class="iconfont icon-search"></span>
    </section>
</header>
<section>
    <article>
        <div>
            <span></span>
            <div>
                <p></p>
                <span></span>
                <p></p>
            </div>
        </div>
        <div></div>
        <span></span>
        <span></span>
        <button>...</button>
    </article>
</section>