<header class="basic">
    <nav>
        <span class="iconfont icon-set"></span>
        <span class="iconfont icon-service"></span>
    </nav>
   <section class="basic-userinfo">
       <div class="userimg"></div>
       <p>蹲墙角画圈圈</p>
       <p>倒计时 20:28</p>
       <article>
           <div><a href="">念币&nbsp;6</a></div>
           <div><a href="">宠物&nbsp;0</a></div>
       </article>
   </section>
</header>
<section>
    <div class="basic-container">
        <div class="containerhead">
            <span>记本</span>
            <span>添加记本</span>
        </div>
        <article class="containerbody">
            <div><div class="containerbody-img"></div><p>日常</p></div>
            <div><div class="containerbody-img"></div><p>相册</p></div>
            <div><div class="containerbody-img"></div><p>习惯</p></div>
            <div><div class="containerbody-img"></div><p>自拍</p></div>
            <div><div class="containerbody-img"></div><p>打卡</p></div>
            <div><div class="containerbody-img"></div><p>树洞</p></div>
        </article>
    </div>
</section>