<header class="commonheader">
    <section>
        <!--<span class="iconfont icon-back"></span>-->
        <div>
            <span class="addheader">消息</span>
        </div>
        <!--<span class="iconfont icon-success"></span>-->
    </section>
</header>
<section class="commonbody">
    <article class="messagearticle">
        <div>
            <div><span>回&nbsp;&nbsp;应</span> <br><b>0</b></div>
            <div><span>按&nbsp;&nbsp;赞</span> <br><b>0</b></div>
            <div><span>通&nbsp;&nbsp;知</span> <br><b>0</b></div>
        </div>
    </article>
    <article class="messagecontent">
        <div>这里是空的 <br>要去给好友写信吗？</div>
        <button><a ui-sref="message/messagefocus">嗯！</a></button>
    </article>
</section>